<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838329956638-4j8fdvcusa1h67qkg948rpjhth6co7rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838329956638-4j8fdvcusa1h67qkg948rpjhth6co7rj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838329956638-2h5sfijcmebcioaf161knlba7oacjns0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRFknIXNfAL-8TDa6sOY7Eh4Nk34LJw7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>838329956638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigideaapps.Wikka</string>
	<key>PROJECT_ID</key>
	<string>for-clients-aeb1e</string>
	<key>STORAGE_BUCKET</key>
	<string>for-clients-aeb1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838329956638:ios:f110013d24b785cfa1310f</string>
	<key>DATABASE_URL</key>
	<string>https://for-clients-aeb1e.firebaseio.com</string>
</dict>
</plist>